
#navbarScroll{
    font-size: 20px;
    margin-top: 0%;
}

.navigation-bar{
    background-color:#0B2F00;
    
}
.navigation-bar .navigation-logo{
    color: white;
}
.navigation-bar .navigation-logo{
    color: white;
}
.navigation-bar .nav-link{
    color: white;
}
.navigation-bar .nav-link:hover{
    color: white;
}
.navigation-bar .nav-link:active{
    color: white;
}
